html {
    /* Cache la barre de défilement x */
    overflow-x: hidden;    
    height: 100%!important;
}

body {
    height: 100% !important;
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    margin: 3vh 2vh 0vh 10vh;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}


/* INDEX */

.block-list-index {

    display: flex;
    flex-wrap: wrap;
}
.block-list-index h2 {
    color: #B92B40 !important;    
    text-transform: uppercase;
}
.block-list-index li a {
    text-decoration: none;
}
.block-list-index a {
    font-size: 1.2em;
}
.block-list-index a:hover {
    color: #B92B40;
}
.block-list-index li ul {
    padding-left: 20px;
}
.block-list-item-index {
    margin: 0 auto;
}


/* Affichage TV */
#info-order {
    position: fixed;
    width: 20%;

    -webkit-transition: -webkit-transform 0.3s, width 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s;
    transition: transform 0.3s, width 0.3s;
}
.dx-treeview-item-load-expand {    
    font-size: 24px;
    animation: tv-item-loader linear 1s infinite;
}

#colorBoxModifyColor {
    position: fixed;
}


.gn-body-move {
    -webkit-transform: translateX(280px);
    -moz-transform: translateX(280px);
    transform: translateX(280px);
    -webkit-transition: -webkit-transform 0.3s, width 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s;
    transition: transform 0.3s, width 0.3s;
}

.container-loader {
    position: fixed;
    top: 40vh;
    left: calc(50% - 50px);
    display: block;
    text-align: center;
    width: 10%;
    margin: 0 auto;
    transition: all 0.15s ease-out;
    z-index: 1000;
}

.circle {
    border: 5px solid transparent;
    border-radius: 50%;
}

.loader1 {
    width: 100px;
    height: 100px;
    display: table;
    padding: 10px;
    border-top: 5px solid #B92B40;
    border-bottom: 5px solid #B92B40;
    animation: circular_loader1 ease-in-out 2s infinite;
}

.loader2 {
    width: 10px;
    height: 10px;
    display: table-cell;
    padding: 10px;
    border-top: 5px solid #CEA54A;
    border-bottom: 5px solid #CEA54A;
    animation: circular_loader2 ease-in-out 2s infinite;
}


.title {
    color: #B92B40;
}

.body-content h3, .body-content h2 {
    font-weight: 500;
    color: #CEA54A;
}

.dx-form-group-caption {
    color: #CEA54A;
    font-weight: 400;
}

.dx-fieldset-header {
    color: #CEA54A;
    font-size: 24px;
}

.title h1 {
    font-weight: bold;
    -webkit-animation: title 0.5s forwards 0s ease-out; /* Safari 4+ */
    -moz-animation: title 0.5s forwards 0s ease-out; /* Fx 5+ */
    -o-animation: title 0.5s forwards 0s ease-out; /* Opera 5+ */
    animation: title 0.5s forwards 0s ease-out; /*IE 10+, Fx 29 */
}

.title h2 {
    font-size: 1.7em;
    font-weight: bold;
    -webkit-animation: title 0.5s forwards 0s ease-out; /* Safari 4+ */
    -moz-animation: title 0.5s forwards 0s ease-out; /* Fx 5+ */
    -o-animation: title 0.5s forwards 0s ease-out; /* Opera 5+ */
    animation: title 0.5s forwards 0s ease-out; /*IE 10+, Fx 29 */
}

.title h3 {
    opacity: 0;
    -webkit-animation: title 0.5s forwards 0.1s ease-out; /* Safari 4+ */
    -moz-animation: title 0.5s forwards 0.1s ease-out; /* Fx 5+ */
    -o-animation: title 0.5s forwards 0.1s ease-out; /* Opera 5+ */
    animation: title 0.5s forwards 0.1s ease-out; /*IE 10+, Fx 29 */
    color: darkgrey;
}



/* ----- ZONE DETAIL Style ----- */
/* ----- BEGIN ----- */
#zone-detail {
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    max-width: 500px;
    min-width: 300px;
    height: 100%;
    background-color: white;
    padding: 5px 0px 5px 5px;
    margin: 0px 0 0 0;
    border-left: 2px solid black;
    box-shadow: -1px 0px 35px grey;
}

#zone-detail-text {
    color:black;
}

#font-size {
    position: fixed;
    margin: 10px 10px 10px 10px;
    bottom: 0;
    right: 0;
}

.btnFontSize {
    background-color: white;
    width: 30px;
    height: 30px;
}

#btnCloseDetail {
    right: 100px;
}


/* ----- TOOL TIP Style ----- */
#toolTipText {
    text-align:left;
}

/* ----- TOOL TIP END ----- */





/* ----- START ----- */
/* ----- CUSTOMVIEW ----- */






/* ----- CUSTOMVIEW ----- */
/* ----- END ----- */




/* ----- START ----- */
/* ----- TREEVIEW ----- */
.dx-treeview-vertical-line::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 5px;
    height: calc(100% - 25px);
    margin: 1px;
    border: 0.5px dashed grey !important;
}
/*
div.dx-treeview-toggle-item-visibility.dx-treeview-toggle-item-visibility-opened {
    font-size: 12px;
}
*/
/*  li.dx-treeview-node > .dx-treeview.dx-treeview-toggle-item-visibility.dx-treeview-toggle-item-visibility-opened */
/* ----- END ----- */
/* ----- TREEVIEW ----- */
@keyframes title {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes tv-item-loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes circular_loader1 {
    0% {
        transform: rotate(0deg);
        opacity: 0.2;
    }

    50% {
        transform: rotate(-90deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0.2;
    }
}

@keyframes circular_loader2 {
    0% {
        transform: rotate(0deg);
        opacity: 0.8;
    }

    50% {
        transform: rotate(-180deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0.8;
    }
}




@media screen and (max-width: 576px) {


}