
<div ng-controller="customViewLine" ng-init="init()">
    <!--
        <div dx-list="listOptionsLine" dx-item-alias="itemObj">
            <div data-options="dxTemplate: { name: 'group' }">
                <p>Table : {{itemObj.key}}</p>
            </div>

            <div data-options="dxTemplate: { name: 'item' }">
                <p>{{itemObj.TableSubLevelType}} ({{itemObj.TableSubLevelDesc}})</p>
            </div>
        </div>
    -->
    <section class="filter_line view">
        <div class="row">
            <div class="tables">
                <p class="table">CDENT</p>
            </div>
            <div class="lines">
                <div class="line" data-table="CDENT" data-line="C" data-id="25"><p>C</p></div>
            </div>
        </div>
        <div class="row">
            <div class="tables">
                <p class="table">CDLGN</p>
            </div>
            <div class="lines">
                <div class="line" data-table="CDLGN" data-line="A" data-id="26"><p>A</p></div>
            </div>
        </div>
        <div class="row">
            <div class="tables">
                <p class="table">NGCPP</p>
            </div>
            <div class="lines">
                <div class="line" data-table="NGCPP" data-line="P" data-id="1"><p>P</p></div>
                <div class="line" data-table="NGCPP" data-line="N" data-id="2"><p>N</p></div>
                <div class="line" data-table="NGCPP" data-line="V" data-id="3"><p>V</p></div>
                <div class="line" data-table="NGCPP" data-line="U" data-id="4"><p>U</p></div>
            </div>
        </div>
        <div class="row">
            <div class="tables">
                <p class="table">NGMAT</p>
            </div>
            <div class="lines">
                <div class="line" data-table="NGMAT" data-line="P" data-id="5"><p>P</p></div>
                <div class="line" data-table="NGMAT" data-line="N" data-id="6"><p>N</p></div>
                <div class="line" data-table="NGMAT" data-line="G" data-id="7"><p>G</p></div>
                <div class="line" data-table="NGMAT" data-line="I" data-id="8"><p>I</p></div>
                <div class="line" data-table="NGMAT" data-line="F" data-id="9"><p>F</p></div>
            </div>
        </div>
        <div class="row">
            <div class="tables">
                <p class="table">NGUSI</p>
            </div>
            <div class="lines">
                <div class="line" data-table="NGUSI" data-line="P" data-id="10"><p>P</p></div>
                <div class="line" data-table="NGUSI" data-line="N" data-id="11"><p>N</p></div>
                <div class="line" data-table="NGUSI" data-line="S" data-id="12"><p>S</p></div>
            </div>
        </div>
        <div class="row">
            <div class="tables">
                <p class="table">NGFAB</p>
            </div>
            <div class="lines">
                <div class="line" data-table="NGFAB" data-line="P" data-id="13"><p>P</p></div>
                <div class="line" data-table="NGFAB" data-line="N" data-id="14"><p>N</p></div>
                <div class="line" data-table="NGFAB" data-line="O" data-id="15"><p>O</p></div>
            </div>
        </div>
        <div class="row">
            <div class="tables">
                <p class="table">NGINF</p>
            </div>
            <div class="lines">
                <div class="line" data-table="NGINF" data-line="I" data-id="27"><p>I</p></div>
            </div>
        </div>
        <div class="row">
            <div class="tables">
                <p class="table">NGPDC</p>
            </div>
            <div class="lines">
                <div class="line" data-table="NGPDC" data-line="P" data-id="22"><p>P</p></div>
                <div class="line" data-table="NGPDC" data-line="N" data-id="23"><p>N</p></div>
                <div class="line" data-table="NGPDC" data-line="W" data-id="24"><p>W</p></div>
            </div>
        </div>
        <div class="row">
            <div class="tables">
                <p class="table">NGIPR</p>
            </div>
            <div class="lines">
                <div class="line" data-table="NGIPR" data-line="P" data-id="18"><p>P</p></div>
                <div class="line" data-table="NGIPR" data-line="N" data-id="19"><p>N</p></div>
                <div class="line" data-table="NGIPR" data-line="I" data-id="20"><p>I</p></div>
                <div class="line" data-table="NGIPR" data-line="L" data-id="21"><p>L</p></div>
            </div>
        </div>
        <div class="row">
            <div class="tables">
                <p class="table">NGFMC</p>
            </div>
            <div class="lines">
                <div class="line" data-table="NGFMC" data-line="FMC" data-id="28"><p>FMC</p></div>
            </div>
        </div>
    </section>

</div>